<div style="width: 500px">
  <%= render 'shared/flash' %>
</div>

<% if @friends %>
  <div class="card card-header d-inline-block mb-3">
    <% @friends.each do |friend| %>
      <strong>Email: </strong><%= friend.email %>
      <% if current_user.not_friend_with?(friend.id) %>
        <%= link_to "View Profile", user_path(friend), class:'btn btn-sm btn-info' %>
        <%= link_to "Follow", friendships_path(friend: friend),
                          method: :post, class: 'btn btn-sm btn-success' %> <br><br>
      <% else %>
        <span class="badge bg-secondary">
          You're already friend
        </span> <br><br>
      <% end %>
    <% end %>
  </div>
<% end %>