<h1>My Portfolio</h1>

<%= form_tag search_stock_path, remote: true, method: :get, class: "d-flex search-form mt-4 mb-3" do %>
  <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", class:"search-input" %>
  <%= submit_tag 'Search', class:"search-submit" %>
<% end %>

<div id="results"></div>